project:
  type: book
  output-dir: docs

book:
  title: "Soil Description Handbook"
  author: "Lauren O'Brien"
  date: "2024-01-23"
  language: en
  page-navigation: true
  publisher: "Manaaki Whenua Landcare Research"
  publisher-place: "Palmerston North, New Zealand"
  reader-mode: true
  search: true
  downloads: [docx, epub]
  output-file: MWLR_2024_DRAFT_soil-description-handbook
  repo-url: https://github.com/manaakiwhenua/NZ_soildesc_2024
  back-to-top-navigation: true
  chapters:
    - index.qmd
    - intro.qmd
    - part: "Soil Setting"
      chapters:
        - ss_00_intro.qmd
        - ss_02_location.qmd
        - ss_03_landscape.qmd
        - ss_04_parent_material.qmd
        - ss_05_climate.qmd
        - ss_06_biota.qmd
        - ss_07_landuse_mgmt.qmd
        - ss_08_soils.qmd

    - part: "Soil surface and profile"
      chapters:
        - pr_00_intro.qmd
        - pr_01_surface.qmd
        - pr_02_layers.qmd

    - part: "Soil horizons"
      chapters:
        - hr_01_architecture.qmd
        - hr_02_colour.qmd
        - hr_03_texture.qmd
        - hr_04_secondary_features.qmd
        - hr_05_physical_properties.qmd
        - hr_06_chemical_properties.qmd

    - part: "Soil interpretations"
      chapters:
        - in_01_horizon_names.qmd
        - in_02_interpreted_properties.qmd
        - in_05_nzsc_reqs.qmd
    - references.qmd
  appendices:
    - ap_01_equipment.qmd
    - ap_02_field_recording.qmd
    - ap_sampling.qmd
    - ap_03_database_design.qmd
    - ap_classification.qmd
    - ap_compat.qmd
    - ap_province.qmd
    - changelog.qmd

bibliography: soil_desc_refs_2024.bib
csl: mwlr-citation-style-second-ed.csl

format:
  html:
    theme: cosmo
    date-modified: last-modified
    callout-appearance: "simple"
    css: styles.css
    lightbox: true
    toc-depth: 3
    toc-expand: true
    mermaid:
      theme: neutral
  epub:
    split-level: 2
    toc: true
    css: styles.css
    number-sections: true
    number-depth: 4
    tbl-colwidths: true
    df-print: paged
    mermaid:
      theme: neutral
  docx:
    reference-doc: custom-reference-doc.docx
    toc: true
    toc-depth: 3
    toc-title: "Contents"
    number-sections: true
    number-depth: 4
    df-print: paged
    link-citations: true

# global knitr options
knitr:
  opts_chunk:
    comment: "#>"
    collapse: true
    fig.align: 'center'
    echo: false
    fig.show: 'hold'
    results: 'hold'
    warning: false
    message: false
    error: false
