.no-stripe .gt_table tr.odd {
  --bs-table-striped-bg: transparent;
}

/* style codes and examples using codes */
.ceg {
  font-weight: bold;
  color: red
}


/* tagging text quoted directly from Milne et al, 1995 */
.milne {
  background-color: #deebff
}

/* tagging terms that need to be in the glossary - remove once definition is 
   written and crosslinked */
.glossary {
  background-color: darkorchid
}

/* tag notes about major changes that won't be in the final doc */
.majch {
  font-weight: italic;
  background-color: orange
}

/* tag future locations of diagrams */
.diags {
  font-weight: italic;
  background-color: lightgreen
}

/* tag todo items */
.todo {
  background-color: yellow
}
